.header{

    box-shadow: 2px 2px 4px #b9b8b8;

    
}


.flinks{
    color: rgb(102, 101, 101);
    font-weight: bold;
    border-radius: 20px;
    margin: 5px;
    width:100px;
    text-align: center;
    
}

.flinks:hover{
    color: #00d2d3;
    transition: 0.1s;
}

.signupbtn{
    border-radius: 20px;
    width:100px;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    color: rgb(102, 101, 101);
}
.signupbtn:hover{
    color: #00d2d3;
}

.loginbtn{   
    width:100px;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    color: rgb(102, 101, 101);
}
.loginbtn:hover{   
    width:100px;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    color: #00d2d3;
}