.header{
    background-color: #fcfcfc;
    box-shadow: 2px 2px 4px #d1cccc;

    
}
.ctm-btn{
    background-color:#5dfa8c;
    color: white;
    border-radius: 22px;
    margin-right: 10px;
    color:white;
    border: none;
    font-weight: bold;
}

.flinks{
    color: #eb3b5a;
    font-weight: bold;
    border-radius: 20px;
    margin: 5px;
    width:100px;
    text-align: center;
    
}

.flinks:hover{
    background-color: #eb3b5a;
    color: white;
    transition: 0.2s;
}

.signupbtn{
    border: 2px solid #17c0eb;
    border-radius: 20px;
    width:100px;
    text-align: center;
    font-weight: bold;
    margin: 5px;
}
.signupbtn:hover{
    background-color: #17c0eb;
    transition: 0.2s;
    color: white;
}
.loginbtn{   
    width:100px;
    text-align: center;
    font-weight: bold;
    margin: 5px;
}