<nav class="navbar navbar-default navbar-expand-lg header navbar-fixed-top">
    <a class="navbar-brand" href="#">CURIO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">...</span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav col-md-3" *ngIf="authService.isAuthenticated()">
        <a class="nav-item nav-link flinks " href="/home">Home</a>
        <a class="nav-item nav-link flinks " href="/items">Products</a>
        <a class="nav-item nav-link flinks " href="/discussionforum">Discussion</a>
      </div>
      
      <div class="navbar-nav col-md-3">
        <a class="nav-item nav-link loginbtn" href="/login" *ngIf="!authService.isAuthenticated()" >Login</a>     
        <a class="nav-item nav-link signupbtn" href="/register"  *ngIf="!authService.isAuthenticated()" >Sign up</a>
    
        <div class="dropdown mystats" *ngIf="authService.isAuthenticated()">
          <button class="nav-item nav-link user dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="getMyStats()">
          <img src="assets/person.svg" alt="">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
            <p>Items posted:{{itemsPosted}} </p>
            <p>Inquiries made:{{inquiriesMade}} </p>
            <p>Inquiries received:{{inquiriesReveived}} </p>
            <p>items in wishlist:{{itemsInWishlist}}</p>
            
            <button class="dropdown-item logoutbtn"  *ngIf="authService.isAuthenticated()" (click)="logout()" >Logout</button>
          </div>
        </div>
        
      </div>
    </div>
    

    
  </nav>