.header{
    background-color: #eb3b5a;
}

.flinks{
    color: white;
    font-weight: bold;
    
}


.signupbtn{
    border-radius: 20px;
    width:100px;
    text-align: center;
    font-weight: bold;
    background-color:white;
    color: #eb3b5a;

}

.loginbtn{   
    width:100px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.user{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 50px;
}
.logoutbtn{   
    width:100px;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    color: rgb(102, 101, 101);
    border: none;
    outline: none;
    border-radius: 10px;
    padding :5px;
}

