.ad-area{
    width: 90%;
    outline: none;
    background-color:white;
    padding: 10px;
    border-top: 1px solid rgb(196, 196, 199);
    border-bottom: 1px solid rgb(196, 196, 199);
    border-left: none;
    border-right: none;
    margin: 15px;
}

.ad-area:hover{
    border-top: 1px solid #1289A7;
    border-bottom: 1px solid #1289A7;
    transition: 0.2s;

}

.ad-bullets{
    font-size: small;
    color: rgb(71, 70, 70);
}

.contact{
    font-size: small;
    border: 1px solid rgb(236, 234, 234);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgb(241, 238, 238);
    
}
span{
    color: rgb(241, 110, 110);
}
a{
    text-decoration: none;
}
h5{
    color: #1289A7;
    font-weight: bolder;
}
