.ad-area{
    width: 90%;
    outline: none;
    background-color:white;
    border: none;
    text-align: left;
}



.ad-bullets{
    font-size: small;
    color: rgb(71, 70, 70);
}

.contact{
    font-size: small;
    border: 1px solid rgb(189, 188, 188);
    padding: 10px;
    border-radius: 5px;
   
    
}
span{
    color: rgb(241, 110, 110);
}
a{
    text-decoration: none;
}
h5{
    color: #eb3b5a ;
    font-weight: bolder;
}
