.banner-box{
    font-weight: bolder;
    margin-top: 50px;
    height: 500px;
    box-shadow: 2px 2px 4px #817f7f;
    color: rgb(46, 48, 48); 
    padding: 50px; 
    padding-left: 90px; 
    border-radius: 10px;
    background: transparent;  
}

.bg{
    background-color: #f8fbfc;
}

.ctm-btn{
    background-image: linear-gradient(to right,#fe3760 70%,#fe3760);
    color:white;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 27%;
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    
}

img{
    max-width: 50%;
  
    margin-left: 43%;
    margin-top: -62px;
    z-index: 0;
    position: fixed;
}




input {
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    background: none;
}

input:focus{
    width: 95%;
    outline: none;
    transition: width 0.2s;
    background: none;
}
input.ng-touched.ng-invalid{
    border-bottom : solid 2px  #fc0a2f;
    width: 95%;
    outline: none;
    transition: border-bottom 0.5s;
    transition: width 0.2s;
}
h2{
    font-weight: bolder;
    margin-left: 35%;
}
label{
    font-weight: bold;
}

h6{
    color: #fc0a2f;
}

.padding-0{
    padding-left: 0;
    padding-right: 0;
}
