.banner-box{
    font-weight: bolder;
    box-shadow: 0px 0px 4px #dbdbdb;
    color:rgb(41, 38, 38);
    padding: 40px; 
    background:transparent;  
    margin-top: 20%;
    height: 100%;
    width: 120%;
    border-radius: 5px;

    
}

.ctm-btn{
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    color:white;
    background-image: linear-gradient(to right,#eb3b5a 70%,#eb3b5a);
    width: 50%;
    height: 40px;
    margin-left: 25%;
}
.ctm-btn:hover{
  
    background-image: linear-gradient(to right,#e03050 70%,#e03050);
}

input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    background: none;
    
   
}

input:focus{
    border-bottom: 2px solid #0fbcf9;
    outline: none;
    transition: width 0.2s;
    background: none;
}
input.ng-touched.ng-invalid{
    border-bottom : solid 2px  #fc0a2f;
    outline: none;
    transition: border-bottom 0.5s;
    transition: width 0.5s;
}
h4{
    font-weight: bolder;
    text-align: center;
}

h6{
    color: #fc0a2f;
}

.padding-0{
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
  
}
