<br>
<br>
<br>
<div class="container">
  <div class="row">
      <div class="ml-auto mr-3">
       
          <form action="" [formGroup]="searchForm" (ngSubmit)="onSearch()" autocomplete="off">
           
            <label for="cars">Search </label>
            <select name="" id="" class="search" [formControlName]="'searchBy'">
              <option value="all">All</option>
              <option value="username"> By username</option>
              <option value="type">By item type</option>
              <option value="itemName">By item Name</option>
            
            </select>
            <input type="text" class="search " [formControlName]="'search'" placeholder="search..">
            <button type="submit" class="search-btn"> <img src="assets/search.svg" alt=""></button>
          </form>
          <br>
          <label for="">Set distance to see items from nearby users </label>
          <button type="button" class="btn btn-light" id="findNearbyUsers-btn" data-toggle="collapse" data-target="#findNearbyUsers" aria-expanded="false" aria-controls="">
            <img src="assets/geo.svg"  alt="">{{distance}}
          </button>
        
        
         

        <div class="collapse" id="findNearbyUsers">
          <div class="card card-body">
            <form action="" [formGroup]="distanceForm"  autocomplete="off">
              <label for="" class="select-distance-label">Select distance to see products from nearby users</label>
              <br/>
              <label for="">1 km</label>
              <input type="range" name="distance" id="" max="100" min="1"  [formControlName]="'distance'">
              <label for="">All</label>
            
      
             
              
              
              
            </form>
            <div class="location-err" *ngIf="!locationAllowed && !blockedInBrowser">
              <p >Allow location for precise results</p>
              <button class="btn btn-light" (click)="allowLocation()">Allow location</button>
            </div>
            <div class="location-err" *ngIf="!locationAllowed && blockedInBrowser">
              <p >Location access is blocked in browser or no internet </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    
    <br>
    
  </div>
</div>

<br>
<div class="container" >
    <div class="row">
      
      <div class="col-md-3 " *ngFor="let item of allItems | async">
        <div class="box">
          <div class="">
            <img src="{{'data:image/jpg;base64,'+ item.photo}}" class="item-img"  alt="" tabindex="0">
          </div>
          <div class="">
            <h3>
              
              {{item.itemName}} 
            </h3>
          
            <span class="distance-msg" *ngIf="distance!='All users' && searched">by {{item.postedUser}} {{item.away| number:'1.1-2'}} kms away</span>
            <p> {{item.type}}</p>
            
          </div>
          <div class="">

              <a class="view-btn" href="/item/{{item.itemId}}">View</a>
             
          </div>
        </div>
        <br>
        </div> 
     
      
    </div>
   
  </div>
