
.item-img{
    max-width: 100%;
    padding: 2px;
    height: 200px;
    z-index: 1;
  
}
 
 .box{
     padding: 3px;
     background-color: transparent;
     border-radius: 10px;
     box-shadow: 0px 0px 2px #838181;
 }

 .addtowishlist-btn{
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    color:#ff6b6b ;
    background:transparent;
    width: 120px;
    height: 40px;
}
.addtowishlist-btn:hover{
  
    transition: 0.2s;
    background-image: linear-gradient(to right,#fc8080 70%,#fc8080);
    color: white;
}
.view-btn{
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    color:rgb(155, 151, 151) ;
    background:transparent;
    width: 80px;
    height: 30px;
    text-decoration: none;
    padding: 10px;
}
.view-btn:hover{
  
    transition: 0.2s;
    color: #147096;
}

.item-img:active,.item-img:focus{
    transform: scale(2);
    transition: 0.2s;
    position: relative;
    margin-left: 25%;
    outline: none;
    z-index: 2;
}

.nearby-search{
    position: absolute;
    top: 560px;
    right:100px;
}
input[type="range"]{

    width: 30%;
    height: 2px;
    color: green;
    margin: 10px;
}
.distance-display{
    margin-left: 100px;

}
#findNearbyUsers{
  border: 1px solid gainsboro;
  border-radius: 5px;
  outline:none;
    

}


.distance-msg{
    font-style: italic;
    font-size: smaller;
    font-weight: bold;
    color:#eb3b5a;
}


.select-distance-label{
    border-radius: 10px;
    padding: 10px;
    font-size: small;
    font-weight: bold;
}
.search{
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
    padding: 5px ;
    margin-bottom: 2px;
    box-shadow: 0px 0px 4px rgb(214, 214, 214);
   
}
label{
    margin-left: 5%;
    margin-right: 1%;
    font-size: small;
    font-weight: bold;
    color: #eb3b5a;
}
.search-btn{
    outline: none;
    border: none;
    background-color: transparent;
   
    
}

.landing-img{
    margin-top: 50px;
    width: 100%;
    margin-left: 15px;
 }
 .welcome-msg{   
     color:#0984e3 ;
     padding: 10px;  
 }
 .banner-bg{
     background-color: white;
 }

 .tag{
     font-size: small;
     font-style: italic;
     font-weight: bolder;
     color: rgb(78, 78, 78);
     background-color: rgb(197, 197, 197);
     padding: 3px;
     border-radius: 10px;
     margin: 1px;
    
 }