
<div class="container-fluid banner-bg">
  <div class="row">
    <div class="col-md-6">

    
      <div class="ml-auto mr-3">
        <br><br><br>
          <form action="" [formGroup]="searchForm" (ngSubmit)="onSearch()" autocomplete="off">
           
            <label for="cars">Search by </label>
            <select name="" id="" class="search" [formControlName]="'searchBy'">
              <option value="all">All</option>
              <option value="username">  username</option>
              <option value="type"> item type</option>
              <option value="itemName"> item Name</option>
            
            </select>
            <input type="text" class="search " [formControlName]="'search'" placeholder="search term..">
            <button type="submit" class="search-btn"> <img src="assets/search.svg" alt=""></button>
          </form>
          <br>
          <label for="">Set distance to see items from nearby users </label>
          <button type="button" class="btn btn-light" id="findNearbyUsers-btn" data-toggle="collapse" data-target="#findNearbyUsers" aria-expanded="false" aria-controls="">
            <img src="assets/geo.svg"  alt="">{{distance}}
          </button>
        
        
         

        <div class="collapse" id="findNearbyUsers">
          <div class="card card-body">
            <form action="" [formGroup]="distanceForm"  autocomplete="off">
              <label for="" class="select-distance-label">Select distance to see products from nearby users</label>
              <br/>
              <label for="">1 km</label>
              <input type="range" name="distance" id="" max="100" min="1"  [formControlName]="'distance'">
              <label for="">All</label>
            
      
             
              
              
              
            </form>
            <div class="alert alert-warning" role="alert" *ngIf="!locationAllowed && !blockedInBrowser">
              <p >Allow location for precise results.</p>
              <button class="btn btn-light" (click)="allowLocation()">Allow location</button>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="!locationAllowed && blockedInBrowser">
              <p >Location access is blocked in browser or no internet. Try allowing location access in your browser or check your internet connection and reload the page. </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
    <br>
    <div class="col-md-6">
      <img class=" landing-img"src="assets/browse.png" alt="">
    </div>
    
  </div>
</div>

<br>
<div class="container" >
    <div class="row">
      
      <div class="col-md-3 " *ngFor="let item of allItems | async">
        <div class="box">
          <div class="">
            <img src="{{'data:image/jpg;base64,'+ item.photo}}" class="item-img"  alt="" tabindex="0">
          </div>
          <div class="">
            <h3>
              {{item.itemName}} 
            </h3>
            <span> {{item.type}}</span>
            <span class="distance-msg" *ngIf="distance!='All users' && searched"> <br> <img src="assets/geo.svg"  alt=""> by {{item.postedUser}} {{item.away| number:'1.1-2'}} kms away</span>
            <br>
            <br>
            <div>
              <span class="tag" *ngIf="item.sale!=''"> {{item.sale}}</span>
              <span class="tag" *ngIf="item.donation!=''"> {{item.donation}}</span>
              <span class="tag" *ngIf="item.exchange!=''"> {{item.exchange}}</span>
              <span class="tag" *ngIf="item.renting!=''"> {{item.renting}}</span>
            </div>
            
            
          </div>
          <br>
          <div class="">

              <a class="view-btn" href="/item/{{item.itemId}}">View more</a>
             
          </div>
        </div>
        <br>
        </div> 
     
      
    </div>
   
  </div>
