
.form-register {
    position: absolute;
    top: 65%;
    left: 50%;
    margin-bottom: 10px;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color: white;
    box-shadow: 2px 2px 4px #9e9797;
}
  
.ctm-btn{
    background-image: linear-gradient(to right,#FC427B 30%, #FC427B);
    color:white;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 27%;
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    
    
}

input {
    width: 350px;
    border-top: none;
    border-left: none;
    border-right: none;
}

input:focus{
    width: 400px;
    outline: none;
    transition: width 0.2s;
}
input.ng-touched.ng-invalid{
    border-bottom : solid 2px  #fc0a2f;
    width: 400px;
    outline: none;
    transition: border-bottom 0.5s;
    transition: width 0.2s;
}
h2{
    font-weight: bolder;
    margin-left: 20%;
}
label{
    font-weight: bold;
}

h6{
    color: #fc0a2f;
}
