

.form-register { 
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    background: none;
    box-shadow: 2px 2px 4px #7c7777;
    border-radius: 10px;
    background-color: transparent;
   
}
  
.ctm-btn{
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    color:white;
    background-image: linear-gradient(to right,#0abde3 70%,#0abde3);
    width: 200px;
    height: 40px;
    margin-top: 20px;
}
.ctm-btn:hover{
  
    transition: 0.2s;
    background-image: linear-gradient(to right,#228fe2 70%,#228fe2);
}

input {
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
}

input:focus{
    width: 95%;
    outline: none;
    transition: width 0.2s;
}
input.ng-touched.ng-invalid{
    border-bottom : solid 2px  #fc0a2f;
    width: 95%;
    outline: none;
    transition: border-bottom 0.5s;
    transition: width 0.2s;
}
h2{
    font-weight: bolder;
    margin-left: 20%;
}
label{
    font-weight: bold;
}

h6{
    color: #fc0a2f;
}

a{
    font-weight: bold;
}

.register-success{

    box-shadow: 0px 0px 2px #c4bdbd;
    border-radius: 10px;
    margin-top: 200px;
    padding: 10px;
    border: 1px solid rgb(184, 183, 183);
    text-align: center;
   
}

img{
    width: 20px;
}