
<div class="container ">



  <div class="row">
    <div class="col-md-3 col-md-offset-1"></div>
    <div class="col-md-6">


      <div class="register-success" *ngIf="!registrationSuccessful">
        <img src="assets/check-circle.svg" alt=""> 
        <br>
        <p> Account created successfully. Click <a href="/login">here</a> to login</p>
       
      </div>


      <div class="form-register" *ngIf="registrationSuccessful" >
        <h2>CREATE  ACCOUNT </h2><br>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div>
            <label>Username</label> <br> 
            <input type="text" name="" required="" [formControlName]="'username'" placeholder="Enter username here"><br>
            <span *ngIf="registerForm.controls.username.invalid && registerForm.controls.username.touched"><h6>!Username should have atleast 4 characters</h6></span>
            <span *ngIf="(usernameTaken)"><h6>!{{username}} is already taken.Try a different username </h6></span>
          </div>
          <br>

          <div>
            <label>Email</label><br>
            <input type="email" name="" required="" [formControlName]="'email'" placeholder="Enter email here"><br>
            <span *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.touched"><h6>!Provide a valid email address</h6></span>
          </div>
          <br>

          <div>
            <label>City</label><br>
            <input type="text" name="" required="" [formControlName]="'city'" placeholder="Enter city name here"><br>
            <span *ngIf="registerForm.controls.city.invalid && registerForm.controls.city.touched"><h6>!Provide a city name</h6></span>
          </div>
          <br>
          
          <div>
            <label>Password</label><br>
            <input type="password" name="" required="" [formControlName]="'password'" placeholder="Enter password  here"><br>
            <span *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched"><h6>!Password is required and sholud have atleast 8 characters</h6></span>
          </div>
          <br>

          <div>
            <label>Confirm Password</label><br>
            <input type="password" name="" required="" [formControlName]="'confirmPassword'" placeholder="Re-enter password  here"><br>
            <span *ngIf="registerForm.controls.confirmPassword.invalid && registerForm.controls.confirmPassword.touched"><h6>!Password and confirm Password should match</h6></span>
          </div>
          
          <div>
              <button class="btn btn-lg btn-block ctm-btn" type="submit">CREATE ACCOUNT</button>
              <hr>
              <a href="/login">Log in instead</a>
          </div>
        </form>  
    </div>
    <div class="col-md-3 col-md-offset-1"></div>
   
   

    
   
  </div>
 
</div>

