<br>
<br>
<div class="container">
    <div class="row" *ngFor="let item of items | slice:0:1">
        <div class="col-md-8">
            <img src="{{'data:image/jpg;base64,'+ item.photo}}" class="item-img"  alt="" tabindex="0">
        </div>
        <div class="col-md-4">
            <h2>{{item.itemName}}</h2>
            <span class="username-timestamp" >  by {{item.postedUser}} <img src="assets/dot.svg" alt=""> on {{item.postedTimeStamp}} </span><br>
            
            
            <br>
            <p><img src="assets/heart.svg" alt="" >  {{item.likes}}</p>
            <p><img src="assets/box.svg" alt=""> {{item.type}}</p>
            <p> <img src="assets/tag.svg" alt=""> {{item.description}}</p>
            <p><img src="assets/award.svg" alt=""> Condition : {{item.quality}}</p>
            
            <div>
              <span class="tag" *ngIf="item.sale!=''"> {{item.sale}}</span>
              <span class="tag" *ngIf="item.donation!=''"> {{item.donation}}</span>
              <span class="tag" *ngIf="item.exchange!=''"> {{item.exchange}}</span>
              <span class="tag" *ngIf="item.renting!=''"> {{item.renting}}</span>
            </div>


          <br>
            <button class="addtowishlist-btn" (click)="addToinquiredItems($event.target,item.itemId)">Add to Wishlist</button>
        </div>
       
    </div>
</div>
<br>

<div class="container" >
    <h4 *ngIf="items?.length > 1">You might also like</h4>
    <br>
    <div class="row">
      
      <div class="col-md-3 " *ngFor="let item of items |  slice:1:5">
        <div class="box">
          <div class="">
            <img src="{{'data:image/jpg;base64,'+ item.photo}}" class="item-img"  alt="" tabindex="0">
          </div>
          <div class="">
            <h3>
              
              {{item.itemName}} 
            </h3>
            <p> {{item.type}}</p>
          </div>
          <div class="">
              <a class="view-btn" href="/item/{{item.itemId}}">View more</a>
          </div>
        </div>
        <br>
        </div> 
     
      
    </div>
   
  </div>

