<br>

<div class="row container-fluid">

<div class="col-md-2 vh-100 side-menu">
    <br>
    <button class="menu-btn " (click)=" selectMyQuestion()" [ngStyle]="myQuestionSelected?{'color':'#2f3542'}:{'color':'#a4b0be'}"><img src="assets/person.svg" alt="">  My Questions</button>
    <button class="menu-btn " (click)="  selectThreads()" [ngStyle]="threadsSelected?{'color':'#2f3542'}:{'color':'#a4b0be'}"> <img src="assets/people.svg" alt=""> Community</button>
    <button type="button" class="menu-btn" data-toggle="modal" data-target="#exampleModal">
        <img src="assets/question-circle.svg" alt=""> Ask a Question
    </button>
</div>


<div class="col-md-10">
<div class="">
    
<div class="">
    <form action="" [formGroup]="searchQuestionForm" (ngSubmit)="search()">
        <input type="text" class="search" [formControlName]="'searchTerm'" placeholder="search questions ..">
        <button type="submit" class="search-btn"> <img src="assets/search.svg" alt=""></button>
    </form>
</div>
</div>
<!-- ansk question Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title conversation-title" id="exampleModalLabel">POST NEW QUESTION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">

           <form action="" [formGroup]="askQuestionForm" (ngSubmit)="onSubmit()" *ngIf="!questionPosted">
                <br>
                <div class="mb-3">
                    <label for="subject" class="form-label">Subject</label>
                    <input type="text"  class="form-control" [formControlName]="'subject'" placeholder="Enter a brief title">
                    <h6 *ngIf="askQuestionForm.controls.subject.invalid && askQuestionForm.controls.subject.touched"> !Subject can not be empty</h6>
                    <br>
                </div>
                
                <div class="mb-3">
                    <label for="questionContent"  class="form-label">Content</label>
                    <textarea class="form-control" rows="3" [formControlName]="'questionContent'" placeholder="Type your question here"></textarea>
                    <h6 *ngIf="askQuestionForm.controls.questionContent.invalid && askQuestionForm.controls.questionContent.touched">!Content can not be empty</h6>
                    <br>
                </div>

                <button class="btn ctm-btn" type="submit">Ask</button>
                <button class="btn btn-light" type="reset">Reset</button>
            </form>
        
            <div *ngIf="questionPosted">
                <h4>Question Posted</h4>
               <a class="btn btn-light" href="/discussionforum">OK</a>       
            </div>
           
    
        </div>
        <div class="modal-footer">
        </div>
    </div>
    </div>
</div>



<br>
 <!--my questions-->
<div class="container" *ngIf="myQuestionSelected">
    
    

    <!--go to my questions-->
   
    <br>
    <h4>My questions</h4>
    <br>
   <button *ngIf="(myQuestions | async)?.length == 0" type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
        Ask a new question.
    </button> 
    <div>
        
        <div class="row" >
            <div class="col-md-10" *ngFor="let myQuestion of myQuestions | async">
                <div class="question-area">
                    <div class="date-time">
                        posted on {{myQuestion.questionedTimeStamp}}
                    </div>
                    <h3>
                        {{myQuestion.subject |slice:0:20}}
                    </h3>
                    <br>
                    <p>
                        {{myQuestion.questionContent|slice:0:200}}
                    </p>
                    <a type="button" class="comment-btn"  href="/mythread/{{myQuestion.questionId}}"> <img src="assets/chat-square-text.svg" alt=""> View {{myQuestion.numOfAnswers}} answers</a> 
                    <button  class="remove-btn" (click)=" removeQuestion(myQuestion.questionId,$event.target)"> <img src="assets/trash.svg" alt="">  remove</button>
                </div>
                
            </div>
        </div>
    </div>
    
</div>



<!--community-->
<div class="container" *ngIf="threadsSelected">
    <br>
    <h4>Community</h4>
    <br>
    <div>
        
        <div class="row " >
            <div class="col-md-10 " *ngFor="let question of allQuestions | async">
                <div class="question-area">

                    <div class="date-time">
                        posted on {{question.questionedTimeStamp}}
                    </div>

                    <div>
                        <h6> <img src="assets/person.svg" alt=""> Aksed by {{question.askedUsername}}</h6>
                    </div>
               
                    <div>
                    
                       <h3> {{question.subject |slice:0:20}}</h3>
                       <br>
                        
                        <p>
                            {{question.questionContent |slice:0:150}}
                        </p>
                      
                        <a type="button" class="comment-btn"  href="/membersthreads/{{question.questionId}}"><img src="assets/chat-square-text.svg" alt=""> View {{question.numOfAnswers}} answers</a>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
</div>
</div>