<!-- Button trigger modal -->
<br><br>
<div class="container">
  <div class="row  postitem-area">
    <p class=" col-md-10">Have items to share sell or donate?</p>
    <button type="button" class="  ctm-btn2 col-md-2" data-toggle="modal" data-target="#exampleModalCenter">
        Post Product
    </button>
  </div>
   
    
</div>
 
 <br>
 <div class="container">

  <button (click)="showMyItems()" class="home-link"> My items</button>
  <button (click)="showWishlist()" class="home-link"> Wishlist</button>
 </div>
 <hr>
  <br><br>

 <div *ngIf="myItemsSelected">
 <div class="container heading">
   
    
 </div>
 
 <div class="container" >
  <div class="row">
    
    <div class="col-md-3 " *ngFor="let item of myItems | async">
      <div class="box">
        <div class="">
          <img src="{{'data:image/jpg;base64,'+ item.photo}}" class="item-img"  alt="" tabindex="0">
        </div>
        <div class="">
          <h3>
            {{item.itemName}}
          
          </h3>
          <p> {{item.type}}</p>
          
        </div>
        <div class="">
          <button type="button" class="openconv-btn" data-toggle="modal" attr.data-target="#myitems{{item.itemId}}" (click)="getInquiries(item.itemId)">
            Conversation
          </button>
        </div>
      </div>
      <br>
      <!--area of see conversations
-->

    <!-- Modal -->
    <div class="modal " id="myitems{{item.itemId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{item.itemName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div *ngFor="let inquiry of inquiries | async">
              <div class="row">
                <div class="col-md-6 col-md-offset-1 ">
                  <div class="receivermessage" *ngIf="inquiry.from!=user">
                    
                    <div class="from-to">
                      <span>{{inquiry.from}} </span>
                      <button class="mention-btn" (click)="setReplyUser(inquiry.from)">  Reply {{inquiry.from}}</button>
                    </div>
                    {{inquiry.message}}
                    
                    <button class="mention-btn" (click)=" MentionMessageInMyItems(inquiry.from,inquiry.message)">@</button>
                    
                  </div>
                  
                </div>
                
                <div class="col-md-6">
                  <div class="mymessage container" *ngIf="inquiry.from==user">
                  
                    <div class="from-to">
                      <span>From you to {{inquiry.to}} </span>
                    
                    </div>
                    
                    
                    {{inquiry.message}}
                    <button class="mention-btn" (click)=" MentionMessageInMyItems(inquiry.from,inquiry.message)">@</button>
                    <br>
                    
                   
                    
                  </div >
                
                </div>
                 
                 
              </div>
                
                
                
              
            </div>
          
            <!--<div class="mymessage container row col-md-6" [innerText]="successfullySentReply" *ngIf="successfullySentReply!=''"></div><br>-->
          </div>
          <div class="">
       
            <div class="" *ngIf="sendTo==''">  <p class="reply-area-err"> No recipient selected  </p> </div>
            <div class="" *ngIf="sendTo!=''">  
              <p class="reply-area"> To:  {{sendTo}} <button class="mention-close-btn" (click)=" deleteSetReplyUser()">X</button>  </p>
  
            </div>
            <div *ngIf="replyMyitems!=''" class="mention-area">
              {{replyMyitems}}
              <button class="mention-close-btn" (click)=" deleteMentionMessageInMyItems()">X</button>
            </div>
            <form [formGroup]="sendReplyForm" (ngSubmit)="sendReply(item.itemId)">
             
              <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <textarea  id=""  class="messagebox" name="" required="" [formControlName]="'reply'" placeholder="Type message..."></textarea>
                </div>
                
                <div class="col-md-2">
                  <button type="submit" class="send-btn">send</button>
                </div>
              </div>
             
            </form>

            
          </div>
        </div>
      </div>
    </div>


<!--area of see conversations
-->
      </div> 
   
    
  </div>
 
</div>
 

</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl"  role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLongTitle">POST ITEM</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <section class="container">
             
              <div class="row">
                <div class="col-md-6 col-md-offset-1"> 
                  <div class=" banner-box " >
              
                    <div *ngIf="isSuccess">
                      <div class="alert" >
                        <h5>{{addItemForm.get('itemName').value}}  is posted successfuly</h5><br>
                        <div> 
                          <a href="/home" class="ok-btn">OK</a>
                        </div>         
                      </div>
                     
                    </div>        
                    <form [formGroup]="addItemForm" (ngSubmit)="postItem()" *ngIf="!isSuccess">
                      <div>
                        <label>Item name</label> <br> 
                        <input type="text" name="" required="" [formControlName]="'itemName'" placeholder="Enter item name here">
                        <span *ngIf="addItemForm.controls.itemName.invalid && addItemForm.controls.itemName.touched"><h6>!Please enter the item name</h6></span>
                      </div>
                      <br>
                      <div>
                        <label>Type</label><br>
                       <select id="type" name="" [formControlName]="'type'">
                           <option value="toy">Toy</option>
                           <option value="gear">Gear</option>
              
                       </select>
                       
                        <span *ngIf="addItemForm.controls.type.invalid && addItemForm.controls.type.touched"><h6>!Please select a type</h6></span>
                      </div>
                     <br>
                      <div>
                        <label>Description</label> <br> 
                        <input type="text" class="text-area" name="" required="" [formControlName]="'description'" placeholder="Enter a description of item here">
                        <span *ngIf="addItemForm.controls.description.invalid && addItemForm.controls.description.touched"><h6>!Please enter an item description</h6></span>
                      </div>
                      <br>
                      <div>
                        <label>Photo</label> <br> 
                        <input type="file" class="text-area" name="" required="" [formControlName]="'photo'" (change)="onFileChange($event)">
                        <span *ngIf="addItemForm.controls.photo.invalid && addItemForm.controls.photo.touched"><h6>!Please select a photo</h6></span>
                      </div>
                      <br>
                      <button type="submit" class="btn btn-lg btn-block ctm-btn" >POST</button>
                    </form>  
                </div>
              
                </div>
                <div class="col-md-6">
                  <div class=" item-bg" >
                    <img src="\assets\tag.svg" alt="" class="item-bg">  
                  </div>
                </div>
                
              </div>
                
            </section>
            
            

        </div>
        <div class="modal-footer">
          
         
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="wishlistSelected">
    
    <div class="container" >
      <div class="row">
        
        <div class="col-md-3 " *ngFor="let item of wishlist | async">
          <div class="box">
            <div class="">
              <img src="{{'data:image/jpg;base64,'+ item.photo}}" class="item-img"  alt="" tabindex="0">
            </div>
            <div class="">
              <h3>
                {{item.itemName}}
        
              
              </h3>
              <p> {{item.type}}</p>
              <p> {{item.description}}</p>
            </div>
            <div class="">
                
                <button type="button" class="openconv-btn" data-toggle="modal" attr.data-target="#mymodal{{item.itemId}}" (click)="getInquiries(item.itemId)">
                  Conversation
                </button>
                <button type="button" class="removefromwishlist-btn" (click)="removeFromWishlist(item.itemId,$event.target)">
                  Remove
                </button>
                <!-- Modal -->
                  <div class="modal " id="mymodal{{item.itemId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{item.itemName}}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div *ngFor="let inquiry of inquiries | async">
                            <div class="row">
                              <div class="col-md-6 col-md-offset-1">
                                <div class="receivermessage" *ngIf="inquiry.from!=user">
                                  
                    
                                  <div class="from-to">
                                    <span> </span>
                                    {{inquiry.from}}
                                  </div>
                                  
                                  {{inquiry.message}}
                                  <button class="mention-btn" (click)="mentionMessageInWishlist(inquiry.from,inquiry.message)">@</button>
                                </div>
                               
                              </div>
                              <div class="col-md-6">
                                <div class="mymessage container" *ngIf="inquiry.from==user">
                                
                                  <div class="from-to">
                                    <span> </span>
                                    {{inquiry.from}}
                                  </div>
                                  
                                  {{inquiry.message}}
                                  <button class="mention-btn" (click)="mentionMessageInWishlist(inquiry.from,inquiry.message)">@</button>
                                  
                                </div >
                                
                                <div *ngIf="inquiry.from!=user"><span></span></div>
                              </div>
                               
                               
                              <br><br>
                            </div>
                              
                              
                              
                            
                          </div>
                          <!--<div class="mymessage container row col-md-6" [innerText]="successfullySentMsg" *ngIf="successfullySentMsg!=''"></div><br>-->
                        </div>
                        <div class="">
                          
                          <div *ngIf="replyInWishlist!=''" class="mention-area">
                            {{replyInWishlist}}
                            <button class="mention-close-btn" (click)="deletementionMessageInWishlist()">X</button>
                          </div>
                          <form [formGroup]="sendInquiryForm" (ngSubmit)="sendInquiry(item.itemId)">
                           
                            <div class="row">
                              <div class="col-md-10 col-md-offset-1">
                        
                               
                                  <textarea  id=""  class="messagebox" name="" required="" [formControlName]="'message'" placeholder="Type message..."></textarea>
                              </div>
                              
                              <div class="col-md-2">
                                <button type="submit" class="send-btn">send</button>
                              </div>
                            </div>
                           
                          </form>

                          
                        </div>
                      </div>
                    </div>
                  </div>



            </div>
          </div>
          <br>
          </div> 
       
        
      </div>
     
    </div>
  </div>

  <!-- Button trigger modal -->


