<!-- post item button -->
<br>
<div class="container">
 
 
    <div class="row">
      <div class="col-md-6">
        <img class=" landing-img"src="assets/swap.jpg" alt="">
      </div>
      <div class="col-md-6">
        <div class="welcome-msg">
          <br>
          <br>
          <h2>WELCOME BACK</h2>
          <p>Have anything to share sell or donate?</p>
          <p>Post your used kids' toys and gear to find if anyone is interested </p>
          <p>in buying or exchanging.</p>
          <button type="button" class="ctm-btn " data-toggle="modal" data-target="#exampleModalCenter">
            Post Product
          </button>
        </div>
      </div>
      
     
     
     
    </div>
  

</div>
 <br>


 <div class="container">
 <!-- show my items ahow wishlist buttons --> 
  <button (click)="showMyItems()" class=" btn btn-light "> <img src="assets/box.svg" alt=""> My items</button>
  <button (click)="showWishlist()" class="btn btn-light"><img src="assets/heart.svg" alt=""> Wishlist</button>
 </div>

 <hr>
  
<!-- myitems -->
 <div *ngIf="myItemsSelected">
  
  <div class="container" >
    <h3><img src="assets/box.svg" alt="" width="20px"> My items</h3>
    <br>
    <div class="row">
        
      <div class="col-md-3 " *ngFor="let item of myItems | async">

        <div class="box">

          <div class="">
            <img src="{{'data:image/jpg;base64,'+ item.photo}}" class="item-img"  alt="" tabindex="0">
          </div>

          <div class="">
            <h3>
             {{item.itemName}}
            </h3>
            <p> {{item.type}}</p>
          </div>

          <!-- my items converstation button -->
          <div class="">
            <button type="button" class="conversation-btn" data-toggle="modal" attr.data-target="#myitems{{item.itemId}}" (click)="getInquiries(item.itemId)">
              Conversation
            </button>
              
            <button type="button" class="remove-btn" (click)="removeFromMyItems(item.itemId,$event.target)">
              Remove
            </button>
          </div>

        </div>

        <br>
          <!-- my items converstation modal -->
        <div class="modal " id="myitems{{item.itemId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{item.itemName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body modal-bg">
                
                <div class="description">
                  <h3>
                    {{item.itemName}}
                  </h3>
                
                  <p> {{item.type}}</p>
                  
                  <p> {{item.description}}</p>
                </div>
                <div> <button class="btn btn-light" (click)="reloadInquiries(item.itemId)"><img src="assets/arrow-repeat.svg" alt=""></button> </div>
        
                
                <div *ngFor="let inquiry of inquiries | async">

                      <div class="message" *ngIf="inquiry.from!=user">
                        <div class="from-to">
                          <span>{{inquiry.from}} <span class="date-time">{{inquiry.timeStamp}}</span> </span>
                          <button class="reply-btn" (click)="setReplyUser(inquiry.from)"> <img src="assets/reply.svg" alt="" class=""> Reply {{inquiry.from}}</button>
                        </div>
                        {{inquiry.message}}
                        <button class="at-btn" (click)=" MentionMessageInMyItems(inquiry.from,inquiry.message)">@</button>
                      </div>
                    
                      <div class="message" *ngIf="inquiry.from==user">
                        <div class="from-to">
                          <span>From you to {{inquiry.to}}<span class="date-time">{{inquiry.timeStamp}}</span> </span>
                        </div>
                        {{inquiry.message}}
                        <button class="at-btn" (click)=" MentionMessageInMyItems(inquiry.from,inquiry.message)">@</button>
                        <br>
                      </div >
                    
                </div>

                      <div *ngFor="let inquiry of newlySentReplies">
                        <div class="message">
                          <div class="from-to">
                            
                            From you to {{inquiry.to}} <span class="date-time">{{inquiry.timeStamp}}</span>
                          </div>
                            {{inquiry.message}}
                          <button class="at-btn" (click)="MentionMessageInMyItems(user,inquiry.message)">@</button>
                        </div >
                      </div>
                <!--<div class="mymessage container row col-md-6" [innerText]="successfullySentReply" *ngIf="successfullySentReply!=''"></div><br>-->
              </div>
              <!-- my items converstation reply -->     

              <div class="">
          
                <div class="" *ngIf="sendTo==''">  <p class="reply-area-err"> No recipient selected  </p> </div>
                <div class="" *ngIf="sendTo!=''">  
                  <p class="reply-area"> To:  {{sendTo}} <button class="mention-close-btn" (click)=" deleteSetReplyUser()">X</button>  </p>
                </div>

                <div *ngIf="replyMyitems!=''" class="mention-area">
                  {{replyMyitems}}
                  <button class="mention-close-btn" (click)=" deleteMentionMessageInMyItems()">X</button>
                </div>

                <form [formGroup]="sendReplyForm" (ngSubmit)="sendReply(item.itemId)">
                  <div class="row">

                    <div class="col-md-10 col-md-offset-1">
                        <textarea  id=""  class="form-control" name="" required="" [formControlName]="'reply'" placeholder="Type message..."></textarea>
                    </div>
                    
                    <div class="col-md-2">
                      <button type="submit" class="btn btn-light">send</button>
                    </div>

                  </div>
                </form>
                
              </div>

            </div>
          </div>
        </div>

      </div>   

    </div> 

  </div>
</div>


  
  <!-- post items form modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl"  role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLongTitle">POST ITEM</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <section class="container">
             
              <div class="row">
                <div class="col-md-6 col-md-offset-1"> 
                  <div class=" post-item-modal" >
              
                    <div *ngIf="isSuccess">
                      <div class="alert" >
                        <h5>{{addItemForm.get('itemName').value}}  is posted successfuly</h5><br>
                        <div> 
                          <a href="/home" class="btn btn-light">OK</a>
                        </div>         
                      </div>
                    </div>

                    <form [formGroup]="addItemForm" (ngSubmit)="postItem()" *ngIf="!isSuccess">
                      <div>
                        <label>Item name</label> <br> 
                        <input type="text" name="" required="" [formControlName]="'itemName'" placeholder="Enter item name here">
                        <span *ngIf="addItemForm.controls.itemName.invalid && addItemForm.controls.itemName.touched"><h6>!Please enter the item name</h6></span>
                      </div>
                      <br>
                      <div>
                        <label>Type</label><br>
                       <select id="type" name="" [formControlName]="'type'">
                           <option value="toy">Toy</option>
                           <option value="gear">Gear</option>
              
                       </select>
                       
                        <span *ngIf="addItemForm.controls.type.invalid && addItemForm.controls.type.touched"><h6>!Please select a type</h6></span>
                      </div>
                     <br>
                      <div>
                        <label>Description</label> <br> 
                        <textarea  class="text-area" name="" id="" cols="30" rows="10"  [formControlName]="'description'" placeholder="Enter a description of item here"></textarea>
                       
                        <span *ngIf="addItemForm.controls.description.invalid && addItemForm.controls.description.touched"><h6>!Please enter an item description</h6></span>
                      </div>
                      <br>
                      <div>
                        <label>Photo</label> <br> 
                        <input type="file" class="" name="" required="" [formControlName]="'photo'" (change)="onFileChange($event)">
                        <span *ngIf="addItemForm.controls.photo.invalid && addItemForm.controls.photo.touched"><h6>!Please select a photo</h6></span>
                      </div>
                      <br>
                      <button type="submit" class="btn btn-light" >POST</button>
                    </form>  
                  </div>
              
                </div>
                <div class="col-md-6">
                  <div class=" item-bg" >
                    <img src="\assets\tag.svg" alt="" class="item-bg">  
                  </div>
                </div>
                
              </div>
                
            </section>
            
            

        </div>
        <div class="modal-footer">
        </div>

      </div>
    </div>
  </div>

<!-- wishlist  -->
  <div *ngIf="wishlistSelected">
    
    <div class="container" >
      <h3><img src="assets/heart.svg" alt="" width="20px"> Wishlist</h3>
      <br>
      <div class="row">
        
        <div class="col-md-3 " *ngFor="let item of wishlist | async">

          <div class="box">

            <div class="">
              <img src="{{'data:image/jpg;base64,'+ item.photo}}" class="item-img"  alt="" tabindex="0">
            </div>

            <div class="">
              <h3>
                {{item.itemName}}
              </h3>
              <p> {{item.type}}</p>
            </div>

            <div class="">
                <!-- wishlist converation button -->
                <button type="button" class="conversation-btn" data-toggle="modal" attr.data-target="#mymodal{{item.itemId}}" (click)="getInquiries(item.itemId)">
                  Conversation
                </button>

                <button type="button" class="remove-btn" (click)="removeFromWishlist(item.itemId,$event.target)">
                  Remove
                </button>

                <!-- wishlist conversation modal -->
                <div class="modal " id="mymodal{{item.itemId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{item.itemName}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body modal-bg">

                        <div class="description">
                          <h3>
                            {{item.itemName}}
                          </h3>
                          <div class="distance-msg">
                            posted by {{item.postedUser}}
                          </div>
                        
                          <p> {{item.type}}</p>
                          
                          <p> {{item.description}}</p>
                        </div>
                        <div> <button class="btn btn-light" (click)="reloadInquiries(item.itemId)"><img src="assets/arrow-repeat.svg" alt=""></button> </div>
                       
                        <div *ngFor="let inquiry of inquiries | async">
                         
                            
                              <div class="message" *ngIf="inquiry.from!=user">
                                <div class="from-to">
                                  
                                  {{inquiry.from}} <span class="date-time">{{inquiry.timeStamp}}</span>
                                </div>
                                  {{inquiry.message}}
                                <button class="at-btn" (click)="mentionMessageInWishlist(inquiry.from,inquiry.message)">@</button>
                              </div>
                           
                              
                              <div class="message" *ngIf="inquiry.from==user">
                                <div class="from-to">
                                  You <span class="date-time">{{inquiry.timeStamp}}</span>
                                </div>
                                  {{inquiry.message}}
                                <button class="at-btn" (click)="mentionMessageInWishlist(inquiry.from,inquiry.message)">@</button>
                              </div >
                            
                        </div>
                        
                          <div *ngFor="let inquiry of newlySentInquiries">
                            <div class="message ">
                              <div class="from-to">
                                <span> </span>
                                You <span class="date-time">{{inquiry.timeStamp}}</span>
                              </div>
                                {{inquiry.message}}
                              <button class="at-btn" (click)="mentionMessageInWishlist(user,inquiry.message)">@</button>
                            </div >
                        </div>

                          <!--<div class="mymessage container row col-md-6" [innerText]="successfullySentMsg" *ngIf="successfullySentMsg!=''"></div><br>-->
                        </div>
                        <!-- send inquiry in wishlist -->
                        <div class="">
                          
                          <div *ngIf="replyInWishlist!=''" class="mention-area">
                            {{replyInWishlist}}
                            <button class="mention-close-btn" (click)="deletementionMessageInWishlist()">X</button>
                          </div>
                          <form [formGroup]="sendInquiryForm" (ngSubmit)="sendInquiry(item.itemId)">
                           
                            <div class="row">
                              <div class="col-md-10 col-md-offset-1">
                        
                               
                                  <textarea  id=""  class="form-control" name="" required="" [formControlName]="'message'" placeholder="Type message..."></textarea>
                              </div>
                              
                              <div class="col-md-2">
                                <button type="submit" class="btn btn-light">send</button>
                              </div>
                            </div>
                           
                          </form>

                          
                        </div>
                      </div>
                    </div>
                  </div>



            </div>
          </div>
          <br>
          </div> 
       
        
      </div>
     
    </div>
  </div>

  <!-- Button trigger modal -->


