.banner-box{
    font-weight: bolder; 
    color: rgb(46, 48, 48);
    float: left;
    padding: 10px;
    
}

img{
    width: 100%;

}
a{ 
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    text-decoration: none;
}

.ctm-btn{
    background-image: linear-gradient(to right,#eb3b5a 30%, #ff7086);
    color:white;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 27%;
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 5px 10px 15px #f1b4c0;
}
.ctm-btn2{
    background-image: linear-gradient(to right,#26de81 30%, #26de81);
    color: white;
    border: none ;
    border-radius: 20px;
    margin-left: 50%;
    width: 150px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    outline: none;
    float: right; 
    margin-top: 20px;
    color: white;
    font-weight: bold;
    
    
    

}


input,select {
    width: 350px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    overflow-wrap: break-word;
    outline: none;
}

input:focus{
    width: 400px;
    outline: none;
    transition: width 0.2s;
    background: none;
}
select.ng-touched.ng-invalid,input.ng-touched.ng-invalid{
    border-bottom : solid 2px  #fc0a2f;
    width: 400px;
    outline: none;
    transition: border-bottom 0.5s;
    transition: width 0.2s;
}
h2{
    font-weight: bolder;
}
label{
    font-weight: bold;
}

h6{
    color: #fc0a2f;
    margin: -2px;
}

.post-area{
    font-weight: bolder;
    margin-top: 30px;
    width: 350;
    height: 90px;
    border-radius: 5px;
    color: #2c2c2c;
    background: none;
    
    

}
.post-item{
    display: inline-block;
    margin-top: 20px;
    background:none ;
    color: #2c2c2c;
   
}
.text-area{
    width: 350px;
    border: 2px solid rgb(102, 101, 101);
    border-radius: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    overflow-wrap: break-word;

}
.info-card{
    background: #17c0eb;
    color: white;
}
.ok-btn{
    background: none;
    color: rgb(102, 101, 101);
    border: 2px solid #0be881;
    border-radius: 30px;
    margin-top: 20%;
    width: 100px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    outline: none;
    float: right;
}
.ok-btn:hover{
    background:#0be881 ;
}

.item-img{
    width: 200px;
    z-index: 1;
    position: relative;
}
.item-img:active,.item-img:focus{
    transform: scale(2);
    transition: 0.2s;
    position: relative;
    margin-left: 25%;
    outline: none;
    z-index: 2;
}
.item-card{
    box-shadow: 2px 2px 4px #838181;
    margin-top: 10px;
    border-radius: 2px;
    background-color:white;
    padding: 10px;
}
.info-card{
    background-color:white;
    color: black;
}

.item-bg{
    opacity: 80%;
    
}
