.message{
    background: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(240, 238, 238);
    margin-right: 20px;
       
    
}
.date-time{
    color: rgb(138, 135, 135);
    font-size: x-small;
    margin-left: 5px;
    margin-right: 50px;
    font-weight: bold;
}
.comment-btn{
    outline: none;
    color: rgb(45, 129, 238);
    border: none;
    border-top: 20px;
    background-color: transparent;
    
}

.question-title{
    color: #1289A7;
    font-weight: bolder;
    
}

a{
    text-decoration: none;
}